VPIService/Connected Services/VolmachtVPITokenWebservice/TokenWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.colimbra.net/cas/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.colimbra.net/cas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.colimbra.net/cas/">
      <s:element name="RemoveToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveTokenResult" type="tns:CasResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CasResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InnerCasResult" type="tns:CasResult" />
          <s:element minOccurs="1" maxOccurs="1" name="HasSucceeded" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="tns:CasResult" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemoveTokenSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveToken" />
  </wsdl:message>
  <wsdl:message name="RemoveTokenSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="TokenWebServiceSoap">
    <wsdl:operation name="RemoveToken">
      <wsdl:input message="tns:RemoveTokenSoapIn" />
      <wsdl:output message="tns:RemoveTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenWebServiceSoap" type="tns:TokenWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveToken">
      <soap:operation soapAction="http://www.colimbra.net/cas/RemoveToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://www.colimbra.net/cas/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenWebServiceSoap12" type="tns:TokenWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveToken">
      <soap12:operation soapAction="http://www.colimbra.net/cas/RemoveToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://www.colimbra.net/cas/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenWebService">
    <wsdl:port name="TokenWebServiceSoap" binding="tns:TokenWebServiceSoap">
      <soap:address location="https://www.volmacht.net/Webservices/UserManagement/TokenWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenWebServiceSoap12" binding="tns:TokenWebServiceSoap12">
      <soap12:address location="https://www.volmacht.net/Webservices/UserManagement/TokenWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>